section {
    @apply leading-relaxed;
}

video {
    @apply w-full bg-black rounded-xl;
}

.section {
    @apply py-8 md:py-12 lg:py-20;
}

blockquote {
    @apply relative;

    &::before {
        @apply absolute -left-10 -top-4 text-gray-300 font-serif text-8xl text-opacity-30;
        content: open-quote;
    }

    &::after {
        @apply text-gray-300 text-opacity-0;
        content: close-quote;
    }
}

.play-btn {
    @apply block md:inline-block py-4 px-12 bg-primary rounded-full text-lg font-medium bg-no-repeat text-center;
    background-size: 1.75rem 1.75rem;
    background-position: 0.875rem center;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2250%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2225%22%20cy%3D%2225%22%20r%3D%2223.5%22%20stroke%3D%22%23EFEFEF%22%20stroke-width%3D%223%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23EFEFEF%22%20d%3D%22M28.6121359%2C18.0142481%20L35.2678954%2C29.7585169%20C35.8125038%2C30.7194932%2035.4749709%2C31.9400108%2034.5139945%2C32.4846191%20C34.2132834%2C32.6550394%2033.8735385%2C32.7446176%2033.5278938%2C32.7446176%20L20.2163749%2C32.7446176%20C19.1118054%2C32.7446176%2018.2163749%2C31.8491871%2018.2163749%2C30.7446176%20C18.2163749%2C30.3989729%2018.3059532%2C30.059228%2018.4763734%2C29.7585169%20L25.1321328%2C18.0142481%20C25.6767412%2C17.0532718%2026.8972588%2C16.7157389%2027.8582351%2C17.2603473%20C28.1731225%2C17.4388015%2028.4336817%2C17.6993607%2028.6121359%2C18.0142481%20Z%22%20transform%3D%22rotate(90%2026.872%2024.872)%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}

.code-wrapper {
    @apply p-4 rounded-xl overflow-scroll shadow-2xl;
    background-color: #0d1117;
}

.notes {
    @apply mt-6 md:mt-8 lg:mt-10 grid md:grid-cols-2;
}

.notes__content {
    & > p {
        @apply my-4;
    }  
}